/* CSS Document */

body {
	background-color:#AD0D0B;
	padding:0; margin:0 auto;
	width: 766px;
	background-image: url("images/1.jpg");
	background-repeat:repeat;
	background-position:top center;
}
a:hover{text-decoration:none;}

a img { border:0;}
.column {
	float:left;
}
.right {
	float:right;
}
.clear {clear:both;}
#main {
	padding:0; margin:0 auto;
	width: 676px;
}
#top {
	_margin-top:0px;
}
.content {
	background-image:url(images/bgg.jpg);
	width:676px;
}
a.more {
	font-size:10px;
	color:#D10000;
	font-weight:bold;
	text-decoration:none;
}
a.more1 {
	color:#D10000;
}
a.more2 {
	font-size:10px;
	color:#D10000;
	font-weight:bold;
	text-decoration:none;
/* 	margin-left:80px; */
}
/* top */
.top1 {
	margin-top:27px;
	_margin-top:26px;
	vertical-align:bottom;
}
#menu {
	width:215px;
	height:151px;
	background-image:url(images/bg_menu.jpg);
	background-repeat:no-repeat;
	padding-top:15px;
}
#menu a {
	padding-top:15px;
	_margin-top:5px;
	margin-left:11px;
}
.top2 {
	width:163px;
	margin-top:89px;
	_margin-top:88px;
	margin-left:76px;
	color:#DC7A60;
	font-size:10px;
	text-align:right;
	line-height:10px;
}
.top3 {
	float:right;
	width:198px;
	vertical-align:bottom;
	margin-top:2px;// margin-top:1px;
}
/* top end */
/*left*/
.c_left {
	width:191px;
	margin-top:5px;// margin-top:3px;
	padding-left:24px;
}
.c_left strong {
	font-weight:bold;
	color:#D10000;
	margin-top:13px;
}
.line {
	margin-top:15px;
	background:url(images/line3.jpg) repeat-x;
	width:174px;
	height:1px;
	line-height:0px;
	font-size:0px;
}
.gall {
	margin-top:15px;
	margin-bottom:15px;
}
.pic img {
	margin-top:5px;
}
/*left end*/
/* right */
.r_right {
	width:443px;
	margin-left:15px;
}
.ph2 {
	margin-right:10px;
}
.line3 {
	margin-top:26px;
	background:url(images/line3.jpg) repeat-x;
	width:420px;
	height:1px;
	line-height:0px;
	font-size:0px;
	
}
.r_left {
	width:220px;
	background-image:url(images/line4.jpg);
}
.l_right {
	width:221px;
}
.ph3_1 {
	margin-right:10px;
}
.serv {
	margin-top:14px;
}
.pim2 {
	margin-top:15px;
	list-style-image:url(images/pimpa1.jpg);
	padding-left:15px;
	_margin-left:2px;
	
}
.pim3 {
	margin-top:15px;
	list-style-image:url(images/pimpa2.jpg);
	padding-left:15px;
	_margin-left:2px;
}
.pim4 {
	margin-top:15px;
	list-style-image:url(images/pimpa3.jpg);
	padding-left:15px;
	_margin-left:2px;
	_padding-top:5px;
}
.pim5 {
	margin-bottom:2px;
}
.line4 {
	margin-top:10px;
	width:441px;
	background-image:url(images/line4.jpg);
	background-repeat:repeat-y;
}
.rl_t {
	margin-right:15px;
}

.gwt-DialogBox {
  width: 400px;
}
/* right end */
/* bottom */
#bottom {
	margin-top:11px;
	margin-left:350px;
	text-align:right;
	color:#EAD2AB;
	font-weight:bold;
}
#bottom a {
	color:#EAD2AB;
	font-weight:bold;
}
.c_bot {
	vertical-align:bottom;
}

#content .inner_copy {border:0;color:#f00;float:left;width:50%!important;margin:-202px 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:12px}
.gwt-Label {
	font-size: medium;
}

.gwt-TotalCa {
	color: Red;
}
.gwt-DateBox {
	border: .1px Black;
}

.WeightWedg {
	border: medium dotted orangered;
}

.auto-style1 {
	font-size: medium;
}
.signup-lable{
	font-size: x-large;
}
.signup-lable2{
	font-size: medium;
}

 /*http://code.google.com/p/gwt-datepicker/source/browse/trunk/src/org/zenika/widget/public/DatePickerStyle.css?r=16*/
.gwt-DatePicker {
  border: 1px solid #ccc;
  border-top:1px solid #999;
  cursor: default;
}

.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
  outline: none;
}

.datePickerMonthSelector td:focus {
  outline: none;
}

.datePickerDays {
  width: 100%;
  background: white;
}

.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  font-size: 85%;
  text-align: center;
  padding: 4px;
  outline: none;
  font-weight:bold;
  color:#333;
  border-right: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
}

.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  background: #fff;
  padding: 0px 4px 2px;
  cursor: default;
  color:#666;
  font-size:70%;
  font-weight:normal;
}

.datePickerDay {
  padding: 4px 7px;
  cursor: hand;
  cursor: pointer;
}

.datePickerDayIsWeekend {
  background: #f7f7f7;
}

.datePickerDayIsFiller {
  color: #999;
  font-weight:normal;
}

.datePickerDayIsValue {
  background: #d7dfe8;
}

.datePickerDayIsDisabled {
  color: #AAAAAA;
  font-style: italic;
}

.datePickerDayIsHighlighted {
  background: #F0E68C;
}

.datePickerDayIsValueAndHighlighted {
  background: #d7dfe8;
}

.datePickerDayIsToday {
  padding: 3px;
  color: #fff;
  background: url(images/hborder.png) repeat-x 0px -2607px;
}

.datePickerMonthSelector {
  width: 100%;
  padding: 1px 0 5px 0;
  background: #fff;
}

.datePickerPreviousButton,
.datePickerNextButton {
  font-size: 120%;
  line-height: 1em;
  color: #3a6aad;
  cursor: hand;
  cursor: pointer;
  font-weight: bold;
  padding: 0px 4px;
  outline: none;
}

td.datePickerMonth {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 100%;
  font-weight: bold;
  color: #333;
}

.gwt-DateBox {
  padding: 5px 4px;
  border: 1px solid #ccc;
  border-top: 1px solid #999;
  font-size: 100%;
}

.gwt-DateBox input {
  width: 8em;
}

.dateBoxFormatError {
  background: #ffcccc;
}

.dateBoxPopup {
}


/*tab panel*/
//////
.gwt-TabPanel {
  margin-top: 4px;
}

.gwt-TabPanelBottom {
  background-color: #E8E8E8;
}

.gwt-TabBar {
  padding-top: 2px;
  border-bottom: 4px solid #878787;

}

.gwt-TabBarItem {
  padding: 4px;
  cursor: pointer;
  background-color: #e8e8e8;
  border-bottom: 2px solid white;
  margin-right: 2px;
}

.gwt-TabBarItem-selected {
  padding: 4px;
  font-weight: bold;
  cursor: default;

  background-color: #878787;
  border-bottom: 2px solid #87ffff;
  margin-right: 2px;
}
